{
   "presets": [
      "react",
      [
          "env",
          {
              "targets": {
                  "browsers": [
                      "last 2 versions",
                      "safari >= 7",
                      "ie >= 9"
                  ]
              }
          }
      ]
  ],
  "plugins": [
   "transform-object-rest-spread", 
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
}